/*GERAL*/
body{
    margin: 0px;
    font-family: Roboto, Verdana;
}
p{
    font-weight: 300;
    color: #222222;
    line-height: 25px;
    margin: 0;
    font-size: 16px;
    white-space: pre-line;
}
ul{
    padding-left: 19px;
    margin: 0;
    color: #222222;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}
h2{
    font-size: 20px;
    color: #19304f;
    font-weight: normal;
    margin-bottom: 11px;
}
a{
    display: inline-block;
}
/*GERAL*/
/*PARTE PRINCIPAL DO CÓDIGO COM BOXS E SECTIONS*/
/*PARTE BRANCA DO BOX*/
main#principal{
    display: flex;
    width: 100%;
}
section.box1{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 220vh;
    background-color: #ffffff;
}
section.box2{
    display: flex;
    justify-content: center;
    width: 25%;
    height: 260vh;
    background-color: #19304f;
}
div.box-inside1{
    height: 80%;
    width: 80%;
    margin: 30px 0 0 11px;
}
article.rodape{
    margin-top: 100px;
    text-align: center;
}
/*PARTE BRANCA DO BOX*/
/*PARTE AZUL DO BOX*/
/*CONTATO*/
div.box-inside2{
    margin-top:130px;
    height: 70%;
    width: 60%;
}
div.box-inside2 h2{
    color: #ffffff;
    
    margin: 0 0 11px 3px;
}
div.box-inside2 p{
    color: #ffffff;
    font-style: normal;
}
div.box-inside2 p.email{
    font-size: 13px;
}
div.icons{
    margin-top: 22px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
div.icons img:hover{
    opacity: 0.7;
}
article.box-contato{
    margin-bottom: 100px;
}
/*CONTATO*/
/*CONHECIMENTO*/
div.box-inside2 article.conhecimentos p{
    margin-bottom: 9px;
}
div.box-inside2 article.conhecimentos p::after{
    content: '';
    display: flex;
    width: 100%;
    height: 0.125em;
    background-color: #ffffff;
}
/*CONHECIMENTO*/
/*PARTE AZUL DO BOX*/
/*PARTE PRINCIPAL DO CÓDIGO*/
/*HEADER DA FOTO E DO NOME*/
article.header{
    display: flex;
    white-space: pre-line;
    margin: 0 0 36px 11px;
    align-items: center;
}
img.foto{
    border-radius: 50%;
    width: 26.15%;
    min-width: 24%;
    margin-right: 20px;
}
h1.nome{
    line-height: 30px;
    font-size: 34px;
    text-align: center;
    font-weight: normal;
    color: #19304F;
}
span.job{
    font-size: 19px;
    padding-right: 20px;
}
/*HEADER DA FOTO E DO NOME*/
/*ARTICLES DO CURRÍCULO*/
article.boxs{
    padding-left: 11px;
}
/*ARTICLES DO CURRÍCULO*/
/*LIST*/
li.sub-list{
    margin-left: 29px;
    list-style-type: circle;
}
ul a{
    text-decoration: none;
}
ul a:hover{
    text-decoration: underline;
}
/*LIST*/

/*RESPONSIVE PARTE*/
@media (max-width:768px){
    article.header{
        display: flex;
        flex-direction: column;
        white-space: pre-line;
        margin: 0 0 36px 11px;
        align-items: center;
    }
    img.foto{
        margin: 0;
    }
    div.icons{
        flex-direction: column;
    }
    div.box-inside2 h2{
        margin: 0 0 11px 0;
    }
    span.job{
        padding: 0;
    }
    main#principal{
    display: flex;
    width: 100%;
    flex-direction: column;
    }
    section.box1{
        width: 100%;
        height: 400vh;
    }
    section.box2{
        width: 100%;
        height: 150vh;
    }
}

/*RESPONSIVE PARTE*/
